<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="TimeOut" value="120000" />
    <add key="MaximumComputer" value="100" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DeathCaptchaUserName" value="Pcsdotcom" />
    <add key="DeathCaptchaPassword" value="jeff1451" />
    <add key="IntervalOfAds" value="5" />
    <add key="WebScreenShotSerialKey" value="NHJ99Q0QTGNG66UUVAGDL4Y1Q" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="DefaultFromEmail" value="alerts@vincontrol.com" />
    <add key="DefaultFromEmailForError" value="alerts@vincontrol.com" />
    <add key="DisplayName" value="VINCLAPP FULL SERVICE ERROR LOG" />
    <add key="TrackEmailPass" value="jeff1451" />
    <add key="PDFSerialNumber" value="gMjp0dDk5szp4vLh8vm1rrCgsaCxoLS4taCzsa6xsq65ubm5" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
   

<add name="whitmanenterprisecraigslistEntities" connectionString="metadata=res://*/DatabaseModel.VinclappModel.csdl|res://*/DatabaseModel.VinclappModel.ssdl|res://*/DatabaseModel.VinclappModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=216.55.187.50;User Id=vincontroladmin;password=saigon1451;database=whitmanenterprisecraigslist;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>