<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  
 <add name="whitmanenterprisecraigslistEntities" connectionString="metadata=res://*/VinclappModel.csdl|res://*/VinclappModel.ssdl|res://*/VinclappModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=216.55.187.50;User Id=vincontroladmin;password=saigon1451;database=whitmanenterprisecraigslist;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient2" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="CraigsListEventLogFolderPath" value="C:\VinCLAPP\FullSevice\Report" />
    <add key="SMTPGoogleServer" value="smtp.gmail.com" />
    <add key="DefaultFromEmail" value="alerts@vincontrol.com" />
    <add key="DataFeedTrackingEmail" value="datafeedtracking@vincontrol.com" />
    <add key="TrackEmailPass" value="jeff1451" />
    <add key="DisplayName" value="VINCONTROL" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>