<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VinCLAPP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CLDMSEntities" connectionString="metadata=res://*/DatabaseModel.CLDMS.csdl|res://*/DatabaseModel.CLDMS.ssdl|res://*/DatabaseModel.CLDMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.64.1.30;initial catalog=CLDMS;persist security info=True;user id=vinadmin;password=Saigon1451;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="vincontrolwarehouseEntities" connectionString="metadata=res://*/Model.VincontrolWarehouse.csdl|res://*/Model.VincontrolWarehouse.ssdl|res://*/Model.VincontrolWarehouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.64.1.30;initial catalog=vincontrolwarehouse;persist security info=True;user id=vincontroladmin;password=saigon1451;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VincontrolEntities" connectionString="metadata=res://*/Model.VincontrolModel.csdl|res://*/Model.VincontrolModel.ssdl|res://*/Model.VincontrolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.64.1.30;initial catalog=Vincontrol;user id=vinadmin;password=Saigon1451;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VinMarketEntities" connectionString="metadata=res://*/Model.VinMarketModel.csdl|res://*/Model.VinMarketModel.ssdl|res://*/Model.VinMarketModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.64.1.30;initial catalog=VinMarket;persist security info=True;user id=vinadmin;password=Saigon1451;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VinReviewEntities" connectionString="metadata=res://*/Model.VinReviewModel.csdl|res://*/Model.VinReviewModel.ssdl|res://*/Model.VinReviewModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.64.1.30;initial catalog=VinReview;user id=vinadmin;password=Saigon1451;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VinChatEntities" connectionString="metadata=res://*/Model.VinChatModel.csdl|res://*/Model.VinChatModel.ssdl|res://*/Model.VinChatModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.64.1.30;initial catalog=VinChat;user id=vinadmin;password=Saigon1451;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VinCommercialTruckEntities" connectionString="metadata=res://*/Model.Truck.VinCommercialTruckModel.csdl|res://*/Model.Truck.VinCommercialTruckModel.ssdl|res://*/Model.Truck.VinCommercialTruckModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.64.1.30;initial catalog=VinMarket;user id=vinadmin;password=Saigon1451;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VinsellEntities" connectionString="metadata=res://*/Model.Vinsell.csdl|res://*/Model.Vinsell.ssdl|res://*/Model.Vinsell.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.64.1.30;initial catalog=Vinsell;persist security info=True;user id=vinadmin;password=Saigon1451;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--<system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.6.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>-->
  <appSettings>
    <!--FTP-->
    <add key="DatafeedFTPUsername" value="vinftp" />
    <add key="DatafeedFTPPassword" value="Saigon1451" />
    <add key="DatafeedFTPPort" value="21" />
    <add key="DatafeedFTPHost" value="ftp.vincontrol.net" />
    <add key="baseDirectory" value="C:\CLDMS\" />
    <add key="baseDirectoryExtract" value="C:\CLDMS\Debug" />
    <add key="ftpDirectory" value="/CLDMS" />
    <add key="runFilePath" value="CLDMS.exe" />
    <!--QuickBook-->
    <add key="accessToken" value="qyprdBo5HJYvi5wwYxyTYE01HJjB0i0yDJIO0gdu2wSXadYU" />
    <add key="accessTokenSecret" value="L32oYLn1BwrMnCM4lJpJBzLO3h2nX5XMy9YAi0S6" />
    <add key="consumerKey" value="qyprdG0SVTuipUvFlmLafYjHz4pNXV" />
    <add key="consumerKeySecret" value="V2jzWJi6Hr6ctQH5fv6oiky76qIZs45vUvmjnEpq" />
    <add key="realmId" value="762942960" />
    <!--QuickBook-->
    <add key="SMTPGoogleServer" value="smtp.gmail.com" />
    <add key="DefaultFromEmail" value="cldms@vincontrol.com" />
    <add key="DataFeedTrackingEmail" value="support@vincontrol.com" />
    <add key="TrackEmailPass" value="jeff1451" />
    <add key="DisplayName" value="VINCONTROL" />
    <add key="ConfirmationEmail" value="support@vincontrol.com" />
    <add key="ConfirmationFeedEmail" value="support@vincontrol.com" />
    <add key="accountNumber" value="283233" />
    <add key="accountSecret" value="2fa35a763a794ce5" />
    <add key="country" value="US" />
    <add key="language" value="en" />
    <add key="zipcode" value="92614" />
    <add key="TimeOut" value="120000" />
    <add key="NumberofAds" value="100" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DeathCaptchaUserName" value="Pcsdotcom" />
    <add key="DeathCaptchaPassword" value="jeff1451" />
    <add key="IntervalOfAds" value="300" />
    <add key="WebScreenShotSerialKey" value="NHJ99Q0QTGNG66UUVAGDL4Y1Q" />
    <add key="PDFSerialNumber" value="gMjp0dDk5szp4vLh8vm1rrCgsaCxoLS4taCzsa6xsq65ubm5" />
    <add key="ServerImageURL" value="http://vinclapp.net:59025/Handlers/VinClappImageHandler.ashx" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Description7aBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="100000000" maxBufferPoolSize="524288" maxReceivedMessageSize="100000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://services.chromedata.com:80/Description/7a" binding="basicHttpBinding" bindingConfiguration="Description7aBinding" contract="AutomativeDescriptionService7.Description7aPortType" name="Description7aPort" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.Linq" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <VinCLAPP.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="cardnumber" serializeAs="String">
        <value />
      </setting>
      <setting name="securitycode" serializeAs="String">
        <value />
      </setting>
      <setting name="expirationmonth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="expirationyear" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cardfirstname" serializeAs="String">
        <value />
      </setting>
      <setting name="cardlastname" serializeAs="String">
        <value />
      </setting>
      <setting name="cardaddress" serializeAs="String">
        <value />
      </setting>
      <setting name="cardcity" serializeAs="String">
        <value />
      </setting>
      <setting name="cardstate" serializeAs="String">
        <value />
      </setting>
      <setting name="cardzipcode" serializeAs="String">
        <value />
      </setting>
      <setting name="cardcontactname" serializeAs="String">
        <value />
      </setting>
      <setting name="cardcontactphone" serializeAs="String">
        <value />
      </setting>
      <setting name="cardcontactemail" serializeAs="String">
        <value />
      </setting>
    </VinCLAPP.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>